.DS_Store
*.zip
Config.xcconfig

build/
DerivedData/

*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

*.swp
*.swo
.DS_Store
**/.DS_Store
.claude/worktrees/
